*.class
*.jar
*.zip

target/

out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

.vscode/
.code-workspace

.DS_Store